<div class="kit-section">
  <div class="kit-section-header">
    <h4>{{ 'customization.cart.title' | t }}</h4>
    {% render 'component-price', value: '132,98€' %}
  </div>
  <div>
    <button>
        {{ 'customization.cart.button.title' | t | upcase }}
    </button>
  </div>
</div>
