{% comment %} Pending Mock Player List {% endcomment %}
{% assign players = 'Lamine Yamal 10,Gavi 6,Pedro 8' | split: ','%}

<div id="kit-tab-player" class="kit-tab">
  <div class="kit-tab-content">
    {% assign title = 'customization.personalization.selector.title' | t %}
    {% render 'component-select', name: 'Player selector', default: title, options: players, selected: title %}
  </div>
</div>
